<%-include('./partials/driverDetailsHeader.ejs')%>


    <div class="main-div">
        <div class="inside-div">
            <div class="div1">
                <h1>Welcome</h1>
                <p>Here's what you need to do to set up your account.</p>
            </div>
            <div class="div2">
                <div class="div2-inside">Drivig License - Front</div>
                <div class="icon">
                    <!-- <i class="fa-solid fa-chevron-right"></i> -->
                </div>
            </div>

            <div class="div2">
                <div class="div2-inside">Profile Photo</div>
                <div class="icon">
                    <!-- <i class="fa-solid fa-chevron-right"></i> -->
                </div>
            </div>


            <div class="div2">
                <div class="div2-inside">PAN Card</div>
                <div class="icon">
                    <!-- <i class="fa-solid fa-chevron-right"></i> -->
                </div>
            </div>

            <div class="div2">
                <div class="div2-inside">Registration Certificate (RC)</div>
                <div class="icon">
                    <!-- <i class="fa-solid fa-chevron-right"></i> -->
                </div>
            </div>

            <div class="div2">
                <div class="div2-inside">Vehicle Insurance</div>
                <div class="icon">
                    <!-- <i class="fa-solid fa-chevron-right"></i> -->
                </div>
            </div>

            <div class="div2">
                <div class="div2-inside">Vehicle Image</div>
                <div class="icon">
                    <!-- <i class="fa-solid fa-chevron-right"></i> -->
                </div>
            </div>
            </a>
            <a href="/AllDriverDocuments"><input type="button" class="nextBtn" value="Next"></a>

        </div>
    </div>