

#gapFromLeft{
    margin-top: 2vw;
    margin-left: 28vw;
    width: 40vw;
}
.major-div{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    /* background-color: rgb(209, 163, 106); */
}
.card{
    margin-top: 30px;
    margin-bottom: 30px;
    /* display: flex; */
    width: 45vw;
    border: 1px solid black;
    border-radius: 10px;
    /* background-color: brown; */

}

.card-nav{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    width: 100%;
    height: 10vh;
    border-radius: 10px 10px 0 0;
    background-color: #162938;
}
.card-nav div i{
    color: #162938;
    padding-top: 2vh;
    margin-left: 2.5vw;
    align-items: center;
    /* background-color: yellow; */
}

.card-nav p{
    color: aliceblue;
    margin-left: 12vw;
    font-size: 1.7vw;
    /* background-color: violet; */
}

.card h2{
    padding: 3vh 0 0 2vw;
}
.para{
    font-size: 1.2vw;
    padding: 3vh 0 0 2vw;
}
.para2{
    
    padding: 1.5vh 0 0 2vw;
    font-size: 1.1vw;
}
.img{
    margin: 4vh 0  0 10vw;
    width: 25vw;
    height: 37vh;
}
.imgProfile{
    margin: 4vh 0  0 11vw;
    width: 23vw;
    height: 40vh;
}
.imgPanCard{
    margin: 4vh 0  0 4vw;
    width: 40vw;
    height: 35vh;
}
.RCimg{
    margin: 4vh 0  0 7vw;
    width:30vw;
    height: 35vh;
}
.imgInsurance{
    margin: 4vh 0  0 12vw;
    width:20vw;
    height: 50vh;
}
.vehicleImage{
    margin: 4vh 0  0 9vw;
    width:25vw;
    height: 30vh;
}
.pan-label{
    margin: 4vw 0 0 3vw;
    font-weight: 600;

}
.TextField{
    margin: 2vh 0 0 3vw;
    width: 40vw;
    /* color: aliceblue; */
    font-size: 1.3vw;
    padding: 2vh 3vw 2vh 1vw;
    /* background-color: #162938; */
    border-radius: 10px;
}
.btn{
    border: 0;
    margin: 5vh 2vw 0 3vw;
    width: 80vw;
    color: rgb(5, 6, 6);
    font-size: 1.2vw;
    font-weight: 600;
    padding: 1vh 2vw 1vh 2vw;
    background-color: #e8eced;
    border-radius: 10px;
}
.UploadFile:hover{
    
    cursor: pointer;
}
.UploadFile{
    margin: 3vw 0 2vw 10vw;
    /* color: #fff; */
    font-weight: 600;
    width: 55%;
    border-radius: 10px;
    padding: 1.5vh 2vw 1.5vh 2vw;
    /* background-color: yellowgreen; */
}
.submitButton{
    border: 0;
    /* margin: 5vh 0 5vh 35vw; */
    width: 15vw;
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
    font-weight: 600;
    padding: 1.5vh 2vw 1.5vh 2vw;
    background-color: #162938;
    border-radius: 10px;
}
.submitButton:hover{
    cursor: pointer;
}


.bottomDiv{
    width: 45vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 27vw;
    margin-bottom: 3vh;
}
.BackBtn{
    background-color: #162938;
    border-radius: 10px;
    padding: 1.5vh 4vw 1.5vh 4vw ;
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
    font-weight: 600;
}
.BackBtn:hover{
    cursor: pointer;
}
